*{
	background-color:grey
}
.playlist{
	border:solid;
	padding-left:50%
}
.player_one{
	background-color:white;
	border-radius:2px;
		border:solid;
	
}
.song{
	color:black;
	background-color:white;
	
}
.vid{
	padding-right:10px;
	width:300px;
	height:300px;
/* 	display:flex; */
/* 	justify-content:center; */
/* 	alignitems:center; */
	background-color:white;
	padding:10px;
	border-radius:10px;
	border-style:solid;
	border-color: black;
}
.media{
	border-radius:10px;
	width:350px;
	height:450px;
	background-color:white;
/* 	display:flex; */
	justify-content: center;
}
.tag{
	background-color:white;
	
}
.controls{
	background-color:white:
}



