*{
	background-color:grey
}
.playlist{
	padding-left:50%
}
.player_one{
	background-color:white;
	border-radius:2px;
	
}
.vid{
	padding-right:10px;
	width:300px;
	height:300px;
	display:flex;
	justify-content:center;
	alignitems:center;
	background-color:white;
	padding:10px;
	border-radius:10px;
	border-style:solid;
	border-color: black;
}
.media{
	border-radius:25px;
	width:350px;
	height:400px;
	background-color:white;
/* 	display:flex; */
	justify-content: center;
}



