*{
	background-color:grey
}
.playlist{
	padding-left:50%
}
.player_one{
	background-color:white;
	border-radius:2px;
	
}
.vid{
	background-color:white;
	padding:10px;
	border-radius:10px;
	border-style:solid;
	border-color: black;
	

}
